<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<section>
    <div class="imgBx">
        <img src="static/profile_pics/da03b9f80d99dcf7.jpg">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Login</h2>
            <form>
                <div class="inputBx">
                    <span>Username</span>
                    <input type="text" name="">
                </div>
                <div class="inputBx">
                    <span>Password</span>
                    <input type="text" name="">
                </div>
                <div class="remember">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                <div class="inputBx">
                    <input type="submit" value="Login in" name="">
                </div>
                <div class="inputBx">
                    <p>Don't have an account? <a href="#">Sign up</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>