<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body-body">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="#">
                <div>
                    <h1>Sign in</h1>
                </div>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
                Don't have an account?
                <button>Sign Up</button>
            </form>
        </div>
    </div>
<script src="static/ma.js"></script>
</body>
</html>
